<h1> Gêneros </h1>
<%=link_to 'Home', root_path%>
<hr>
<% @genres.each do |genre| %>
  <h3><%= link_to genre.name, genre_path(genre) %></h3>
<% end %>

<%= link_to 'Registrar gênero', new_genre_path %> <br/>